table {
   i {
    // margin: 20px;
    // font-size: 25px;
  }
  td {
    text-align: center;
  }
  span {
    font-size: 25px;
    color: gray;
  }
  tr {

    height: 100px;
    text-align: center;
  }
}
