<div class="banner" style="background-image:  url(https://res.cloudinary.com/therainycloud/image/upload/v1588241228/Untitled_design_2_dp1rru.png);">
  <div class="container">
    <h1> A <strong>CMS comparator</strong> for <strong>digital talents</strong>!</h1>
    <p>Find the best CMS option for your or your clients' needs in seconds</p>
    <%= link_to "START", companies_path(@companies), class: "button-primary" %>
  </div>
</div>
